<div class="listing-page-blk">
  <div class="container">
    <div class="inner-bg container-min-height">
 
<input type="text" id="term">
			<select id="filter">
				<option value="id">Id</option>
				<option value="title">Title</option>
				<option value="name">Name</option>
				<option value="scope">Scope</option>
				<option value="creator">Created By</option>
				<option value="purpose">Purpose & Justification</option>
			 </select>
			<button onclick="searchProposal()">Search</button>
<br>
      
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Title</th>
      <th>Scope</th>
      <th>Purpose & justification</th>
      <th>Created By</th>
      <th>CD Date</th>
      <th>IS Date</th>
    </tr>
    </tr>
  </thead>
  <tbody id="metaTable">   
  </tbody>
</table>

       
    </div>
  </div>
</div>